/* css grid for structuring all the components on the page */
.main-grid{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 83px 907px 450px;
    width: 100vw;
    height: 100vw;
    grid-template-areas:
      "header header header"
      ". map regional-dashboard-container "
      
      "main-dashboard main-dashboard main-dashboard";
}


.header{
    background: green;
    grid-area: header;
    
}


.map-container{
    position:relative;
   
    grid-area: map;
    height:90vh;
  }

.regional-dashboard-container{
      grid-area: regional-dashboard-container;
      margin-left: 100px;
      justify-self: left;
      align-self: center;
}

.main-dashboard{
    grid-area: main-dashboard;
    justify-self: center;


}

/* div that contains the colour key located above the main dashboard */
.colour-key{
  font-family: Lato;
  padding: 50px 100px 50px 100px;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
}
.red-colour-key{
  display:inline;
  color: #FF0000;
}
.red-circle{
  z-index: 1;
  background: #FF0000;
  width: 24px;
  height: 24px;
  border-radius: 25px;
  margin-top: 1.0px;
  
  margin-right: 10px;
  float: left;
  border-style: solid;
  border-color: black;
  border-width: 0.1px;
}
.green-colour-key{
  display:inline;
  color: #13E900;
}
.green-circle{
  z-index: 1;
  background: #13E900;
  width: 24px;
  height: 24px;
  border-radius: 25px;
  margin-top: 1.0px;
  
  margin-right: 10px;
  float: left;
  border-style: solid;
  border-color: black;
  border-width: 0.1px;
}
.purple-colour-key{
  display:inline;
  color: #B033AB;
}
.purple-circle{
  z-index: 1;
  background: #B033AB;
  width: 24px;
  height: 24px;
  border-radius: 25px;
  margin-top: 1.0px;
  
  margin-right: 10px;
  float: left;
  border-style: solid;
  border-color: black;
  border-width: 0.1px;
}
.orange-colour-key{
  display:inline;
  color: #F39800;
}
.orange-circle{
  z-index: 1;
  background: #F39800;
  width: 24px;
  height: 24px;
  border-radius: 25px;
  margin-top: 1.0px;
  
  margin-right: 10px;
  float: left;
  border-style: solid;
  border-color: black;
  border-width: 0.1px;
}
.blue-colour-key{
  display:inline;
  color: #00AEEF;
}
.blue-circle{
  z-index: 1;
  background: #00AEEF;
  width: 24px;
  height: 24px;
  border-radius: 25px;
  margin-top: 1.0px;
  
  margin-right: 10px;
  float: left;
  border-style: solid;
  border-color: black;
  border-width: 0.1px;
}

/* .intro-modal{
  z-index: 1;
  position: absolute;
  left: 12.36%;
  right: 13.4%;
  top: 50%;
  height: 30%;
  float: center;
  background: rgba(29, 33, 37, 0.93);
  box-shadow: 15.0502px 15.0502px 50.1672px rgba(0, 0, 0, 0.25);
  border-radius: 28.0936px;
} */